
/* Header-left */
.header{
    padding: 16px 40px;
    background-color: white;
    display: block;
    position: fixed;
    top: 0;
    border: 1px solid rgba(0, 0, 0, .08);
    z-index: 2;
}

.header_navbar{
    display: flex;
    height: 50px;
}

.header_navbar-left{
    display: flex;
    justify-content: space-between;
}

.header_navbar-left-icon{
    padding-right: 24px;
}

.header_navbar-icon-link{
    height: 49.6px;
    border-radius: 5px;
}

.header_navbar-icon-link:hover{
    color: var(--primary-color);
    animation: fadeIn linear .3s;
}

.header_navbar-search{
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, .08);
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.05) ;
    border-radius: 5px;
    align-items: center;
}
.header_search-text{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 5rem;
    padding-left: 16px;
}

.header_search-search{
    width: 300px;
  
}

.header_search-search:hover{
    border-radius: 5px ;
    box-shadow: 0 0 3px #999;
}

.header_search-search-item{
    height: 100%;
}

.header_search-search-item--input{
    font-size: 1.4rem;
    font-weight: 600;
    color : black;
    border: none;
    outline: none;
}

.header_search-check{
    position: relative;
    width: 120px;
}

.header_search-check:hover {
    border-radius: 5px ;
    box-shadow: 0 0 3px #999;
}

.header_search-check:hover .header_search-check-show{
    display: block;
}

.header_search-guest{
    position: relative;
    width: 120px;
}

.header_search-guest:hover .header_search-guest-show{
    display: block
}

.header_search-guest:hover {
    border-radius: 5px ;
    box-shadow: 0 0 3px #999;
}

.header_search-btn{
    flex: 1;
    padding-left: 7px;
}

/* .header_search-btn-item{
    width: 43px;
    height: 36px;
    background-color: #555;
    color: white;
    padding: 11px 8px 10px 15px;
    border-radius: 3px;
} */

.header_search-btn-item:hover{
    background-color: #999;
}
.header_search-btn-text{
    font-size: 1.4rem;
}

/* Header-left show-calendar */

.header_search-check-show{
    position: absolute;
    width: 700px;
    height: 356px;
    top : 55px;
    left: -302px;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.05) ;
    border: 1px solid rgba(0, 0, 0, .08);
    border-radius: 8px;
    display: none;
    animation: fadeIn linear 0.7s;
    background-color: var(--white-color);
    z-index: 15;
}

.header_search-check-show::before{
    content: "";
    height: 10px;
    width: 300px;
    background-color: transparent;
    top: -10px;
    left: 200px;
    position: absolute;
    display: block;
}

.check_show-header{
    display: flex;
    margin: 4px 20px;
}

.check_show-footer{
    display: flex;
    justify-content: space-between;
}

.check_show-header-left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.check_show-header-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-show:hover{
    background-color: #999;
}

.check_show-header-text{
    font-size: 1.8rem;
    font-weight: 600;
    padding: 16px 100px;
}

.check_show-bg{
    width: 673px;
    height: 230px;
    margin-left: 11px;
}

.check_show-footer{
    padding: 14px 20px 32px 20px;
}

.check_show-footer-del{
    font-size: 1.4rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.check_show-footer-del:hover{
    text-decoration: underline;
}

.check_show-footer-apply{
    font-size: 1.4rem;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
}
.check_show-footer-apply:hover{
    text-decoration: underline
}

/* Guest */
.header_search-guest-show{
    position: absolute;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.05) ;
    border: 1px solid rgba(0, 0, 0, .08);
    border-radius: 8px;
    width: 320px;
    top: 55px;
    left: -72px;
    animation: fadeIn linear 0.7s;
    display: none;
    background-color: var(--white-color);
    z-index: 1;
}

.header_search-guest-show::before{
    content: "";
    position: absolute;
    display: block;
    width: 60%;
    height: 10px;
    top: -9px;
    left: 71px;
    background-color: transparent;
}

.guest_show{
    margin: 16px 20px 0;
    padding: 0;
}

.guest_show-item{
    padding-bottom: 16px;
    list-style: none;
}



.guest_show-item-style{
    display: flex;
    justify-content: space-between;
}

.guest_show-item-style--name{
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 600;
}

.guest_show-item--amount{
    font-size: 1.6rem;
    padding: 0 24px;
}

.guest_show-icon{
    font-size: 1.6rem;

}

.guest_show-icon:hover{
    color: var(--primary-color);
    background-color: var(--white-color);
}

.guest_show-item-desc{
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: var(--text-color);
}

.guest_show-footer{
    display: flex;
    justify-content: space-between;
}

.guest_show-footer-del{
    font-size: 1.6rem;
    color: var(--black-color);
    text-decoration: none;
    font-weight: 600;
}

.guest_show-footer-del:hover{
    color: #999;
}

.guest_show-footer-apply{
    font-size: 1.6rem;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
}

.guest_show-footer-apply:hover{
    color : #ca3900;
}

/* Header-right */

.header_navbar-right{
    flex: 1;
    
}

.header_navbar-right-list{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.right_list-item{
    list-style: none;
}

.right_list-item-link{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    padding-right: 24px;
    color: var(--black-color);
}

.right_list-item-link:hover{
    color: var(--primary-color);
}

.header_navbar-right-language{
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #f6f6f6;
    border-radius: 2rem;
    position: relative;
}


.header_navbar-right-language:hover .right_language-show{
   display: block;
}

.right_language-item--text{
    padding-right: 12px;
    padding-left: 4px;
    font-size: 1.8rem;
}

.right_language-item--img{
    height: 30px;
    padding: 0 4px;
}

.right_language-item--icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    padding-right: 8px;
}

/* Right language show */

.right_language-show{
    width: 500px;
    position: absolute;
    top: 51px;
    right: 0px;
    background-color: var(--white-color);
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.05) ;
    border: 1px solid rgba(0, 0, 0, .08);
    border-radius: 8px;
    animation: fadeIn linear 0.7s;
    display: none;
    z-index: 1;
}

.right_language-list
{
    display: flex;
}

.right_language-show::after{
    z-index: 1;
    content: "";
    border-width: 16px 16px ;
    border-style: solid;
    position: absolute;
    border-color: transparent transparent #ccc transparent;
    right: 31px;
    top: -32px;
}

.right_language-show::before{
    content: "";
    width:50%;
    height: 25px;
    position: absolute;
    right: 2px;
    top: -22px;
    background-color: transparent;
    }

.right_language-show-country{
    flex: 1;
    padding: 8px 16px 0 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.left_language-show-country{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 8px 8px 0px 16px;
    border-right: 1px solid #ccc;
    position: relative;
}


.show_country-item{
    list-style: none;
    align-items: center;
    display: flex;
    margin: 8px 0 24px;
}

.show_country-icon{
    height: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.show_country-name{
    font-size: 1.6rem;
    padding:0 16px;
}

.show_country-name:hover{
    color: var(--primary-color);
}

.show_country-text{
    font-size: 1.6rem;
    font-weight: 600;
    padding-left: 8px;
}

.show_country-item:hover{
    color: var(--primary-color);
}

.show_country-item:hover .show_country-icon-check{
    color: var(--black-color);
}

/* Home page */

.home-page{
    display: block;
}

.home-page-img{
    width: 100%;
    border-radius: 10px;
    padding-top: 124px;
}

/* home page wellcome */

.wellcome-heading{
    margin: 0;
    font-size: 2.5rem;
    font-weight: 700;
    padding: 16px 0;
}

.wellcom-text{
    display: block;
    font-size: 1.6rem;
    padding-top: 16px;
    margin: 0;
}

.wellcome-link{
    display: block;
    padding: 16px 0;
    font-size: 1.6rem;
}

.wellcome-link-log{
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.6rem;
}

.wellcome-link-log:hover{
    text-decoration: underline;
}

/* Home page review */

.home-page-review{
    display: flex;
}

.home-page-review-wrap{
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.05) ;
    border: 1px solid rgba(0, 0, 0, .08);
    border-radius: 10px;
}

.home-page-review-wrap:hover .home-page-review-heading{
    color: var(--primary-color);
 
}

.home-page-review-img{
    border-radius: 10px;
    width: 100%;
}

.home-page-review-bottom{
    padding: 16px;
}

.home-page-review-heading{
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--black-color);
}

.home-page-review-text{
    font-size: 1.4rem;
    color: var(--text-color);
    padding-top: 4px;
}

/* Home page bonus */

/* DÙng chung */
.home-page-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 20px;
}

.home-page-heading{
    margin: 0;
    font-size: 2.2rem;
    font-weight: 700;
    padding: 16px 0;
}

.home-page-text{
    display: block;
    font-size: 1.6rem;
    margin: 0;
}

.slide-prev{
    position: absolute;
    left: -25px;
    width: 50px;
    height: 50px;
    top : 35%;
    border-radius: 35px;
    border: none;
    background-color: var(--white-color);
    box-shadow: 0 0 7px -4px #000;
    z-index: 1;

}

.slide-prev:hover{
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 7px -4px #000;
}

.slide-next{
    position: absolute;
    right: -25px;
    width: 50px;
    height: 50px;
    top:35%;
    border-radius: 35px;
    border: none;
    background-color: var(--white-color);
    box-shadow: 0 0 7px -4px #000;
    z-index: 1;
}
.slide-next:hover{
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 7px -4px #000;
}

.slide-next:hover .slide-icon{
    color:  var(--primary-color);
    box-shadow: 0 0 7px -4px #000;
}

.slide-prev:hover .slide-icon{
    color:  var(--primary-color);
    box-shadow: 0 0 7px -4px #000;
}
/* Dùng chung */


.home-page-bonus-bg{
    position: relative;
    display: flex;
}

.home-page-bonus-picture{
    border-radius: 10px;
    width: 100%;
}


.home-page-link{
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.6rem;
}

.home-page-link:hover{
    text-decoration: underline;
}

/* Home page place */

.home-page-place-bg{
    position: relative;
    display: flex;
}

.home-page-place-picture{
    width: 100%;
    height: 300px;
    border-radius: 10px;

}

.home-page-place-heading{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--white-color);
    margin-bottom: 16px;

}

.home-page-place-num{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--white-color);
}

.home-page-place-text{
    font-size: 1.6rem;
    color: #f6f6f6;
}

.home-page-place-wrapper{
    position: relative;
}

.home-page-place-footer{
    position: absolute;
    top: 65%;
    width: 100%;
    margin-left: 36px;
}
/* Home page suggest */

.home-page-suggest-bg{
    position: relative;
    display: flex;
}

.home-page-suggest-picture{
    width: 100%;
    border-radius: 10px;
}

.home-page-suggest-heading{
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 12px 0;
}

.home-page-sugeest-text{
    font-size: 1.6rem;
    color: var(--text-color);
}

.home-page-suggest-img{
    margin-bottom: 16px;
    text-decoration: none;
}

.grid_column-4:hover .home-page-sugeest-text{
    color: var(--primary-color);
}


/* Home page discovery */
.home-page-discovery-bg{
    display: flex;  
    position: relative; 
}
.home-page-discovery-img{
    
    display: flex;
}

.home-page-discovery-cover{
    position: relative;
}

.home-page-discovery-cover:hover{
    cursor: pointer;
}

.home-page-discovery-picture{
    width: 100%;
    height: 260px;
    border-radius: 10px;
}

.home-page-discovery-category{
    position: absolute;
    font-size: 1.2rem;
    font-weight: 600;
    top: 24px;
    left: 42px;
    background: rgba(0,0,0,.4);
    border-radius: 2rem;
}

.home-page-discovery-category:hover{
    background: rgba(0,0,0,.8);
}

.home-page-discovery-poster{
    color: var(--white-color);
    text-decoration: none;
    padding: 4px 24px;
    display: block;
}

.home-page-discovery-desc{
    position: absolute;
    font-size: 2rem;
    font-weight: 600;
    left: 24px;
    bottom: 32px;
    color: var(--white-color);
    line-height: 3rem;
    text-decoration: none;
}


/* Home page download */

.home-page-download-cover{
    display: flex;
    height: 600px;
}

.home-page-download-right{
    padding: 0 0  0 8px;
}

.home-page-download-bg{
    width: 100%;
    height: 100%;
}

.home-page-download-left{
    padding: 0 8px 0 0;
    width: 115%;
}

.download-left-logo{
    margin-bottom: 18px;
}

.download-left-header{
    margin-bottom: 36px;
    font-size: 2.5rem;
    font-weight: 700;
}

.download-left-heading{
    margin: 0;
}

.download-left-contain{
    font-size: 1.6rem;
    color: var(--text-color);
    line-height: 3rem;
    padding-bottom: 80px;
}

.download-left-logo-icon{
    height: 70px;
}

.download-left-text{
    margin: 0;
}

.download-left-code{
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.download-left-store{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.download-left-code-qr{
    width: 175px;
    height: 175px;
}

.left-qr-code{
    width: 100%;
}

.left-store-huawei{
    padding-top: 16px;
}

.left-store{
    width: 176px;
}

.left-store:hover{
    cursor: pointer;
}
.left-store-huawei:hover{
    cursor: pointer;
}

/* Footer */
.footer-info{
    padding-top: 60px;
    display: flex;
}

/* Column 1 */
.footer-contact-logo{
    height: 36px;
    margin-bottom: 24px;
}

.footer-contact-logo-icon{
    height: 100%;
}

.footer-contact-pm{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 30px;
}

.footer-contact-heading{
    margin: 0;
    font-weight: 600;
}

.footer-contact-contain{
    font-size: 1.4rem;
    color: var(--text-color);
   
}

.footer-contact-link{
    text-decoration: none;
    padding-top: 8px;
    display: block;
    color: var(--text-color);
}

.footer-contact-link:hover{
    color: var(--primary-color);
}

.footer-icon{
    font-size: 3rem;
    padding-right: 12px;
    width: 40px;
    display: block;
    align-items: center;
}

/* Footer column 2 3 4 */

.footer-heading{
 
    display: block;
    padding-bottom: 16px;
}
.footer-heading-contain{
    margin: 0;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
}

.footer-contain{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}

.footer-text{
    text-decoration: none;
    padding-bottom: 16px;
    color: var(--text-color);
}

.footer-text:hover{
    color: var(--primary-color);
   
}

/* Footer col 5 */

.footer-download-app{
    display: flex;
}

.download-app-qr{
    height: 90px;
    width: 35%;
    border: 1px solid #ccc;
}

.download-qr{
    width: 67px;
    margin: 10px;
}

.download-app-store{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.download-app-store-link{
    width: 100px;
}

.app-store-link-icon{
    width: 100%;
    padding-bottom: 20px;
    display: block;
}


/* Footer payment */

.footer-pay{
    display: flex;
    justify-content: space-around;
    padding-top: 44px;
}

.footer-pay-secure{
    flex: 1;
    padding-left: 258px;
}

.footer-cer-secure{
    padding-right: 46px;
}
.footer-secure-bottom{
    padding-top: 24px;
    padding-bottom: 36px ;
    display: flex;
    justify-items: center;
}

.footer-secure-img{
    width: 90px;
}

.footer-secure-img-item{
    padding: 0 8px;
}

.footer-secure-icon-item{
    font-size: 3rem;
    padding-right: 32px;
    color: var(--black-color);
}

.footer-secure-icon-item{
    border-radius: 3rem;
}

.footer-follow-secure{
    padding-right: 84px;
}

.footer-about{
    font-size: 1.4rem;
    color: #999;
    border-top: 1px solid #ccc;
    text-align: center;
}
    

